use IndexedDB in cve5sw.js?

WIth today's version of the CVE Portal at https://vulnogram.github.io/cve5/ (and other versions over the past few weeks), I find that operations requiring authentication to CVE Services (test portal) often fail with an error message such as "Error reserving ID: undefined" or "Error publishing! Got error Not logged in." In other words, the functionality can work perfectly, but authentication is lost within a minute or two. This behavior seems to be approximately the same across web browsers (Firefox, Chrome, Edge).

I haven't explored every possible reason for this, but feel that
https://github.com/Vulnogram/Vulnogram/blob/35ff8c79558977b5a0170228e3c909d734898dd4/default/cve5/static/cve5sw.js#L13
https://github.com/Vulnogram/Vulnogram/blob/35ff8c79558977b5a0170228e3c909d734898dd4/default/cve5/static/cve5sw.js#L39-L41
may be contributing to the observed behavior. In other words, I don't think there's any guarantee that a web browser will allow data to persist in the "storage" data structure, e.g., any keys and values may be gone within minutes or less.

I'm able to remain logged in if I modify cve5sw.js to use IndexedDB. This is working reliably for me thus far (e.g., I can remain logged in for an hour with Firefox, Chrome, or Edge). I don't yet have an especially clean implementation of this and I'm not confident in my ability to modify cve5sw.js correctly, so my main question is `does the Vulnogram project want to adopt IndexedDB as part of authentication?`

The approach that I'm currently using is:
* start by looking at https://github.com/jakearchibald/idb-keyval/blob/main/README.md and https://www.npmjs.com/package/idb-keyval - this seems to be one of the simplest available ways to use IndexedDB
* add inline JavaScript code, similar to the https://github.com/jakearchibald/idb-keyval/blob/fdf795b9b55b417eb6ed22db9721c53877a19569/src/index.ts code, into cve5sw.js
* modify various cve5sw.js functions to correctly use get/set/getMany/setMany as needed

For example,
```
setCredentials = (creds) => {
    setMany([
	['APIKEY', creds.key],
	['APIORG', creds.org],
	['APIUSER', creds.user]
    ])
```
```
case 'init':
...
set('serviceUri', e.data.serviceUri)
```
```
case 'getOrg':
...
get('APIORG')
```
requestService has some complexity because of the various asynchronous pieces, but in general can have code similar to:
```
getMany(['APIKEY','APIORG','APIUSER']).then(([APIKEY,APIORG,APIUSER]) => {
	opts = {
	    headers: {
		'content-type': 'application/json',
		'CVE-API-KEY': APIKEY,
		'CVE-API-ORG': APIORG,
		'CVE-API-USER': APIUSER
	    }
	};
...
get('serviceUri')
```
If this happens to be of interest, I may be able to do some or all of these:
* post the complete code that I'm currently using
* review the code for any missed race conditions
* check whether https://developer.mozilla.org/en-US/docs/Web/API/IDBObjectStore/clear can be used for the setSessionTimer feature (which I guess is "automatically logout after an hour")
* consider whether there's a more effective way to integrate the idb-keyval code (e.g., import or require might be better than simply copying a modified version of that project's code)

It is likely that when a service worker thread is paused and started it loses state. Persistence may require storing credentials in persistent storage which we were trying to avoid. It is tricky to implement/replicate secure sessions without the server maintaining sessions.

I agree there is no simple way to do this with a JavaScript client.  The cve-services themselves are a REST like API based service, it will be unfair to expect session management (including say CSRF protection) for these JavaScript clients. 

on `indexedDB`
Incidentally, I was working on the CERTCC/cveClient project.  In that code base,  I am using the `indexedDB` to store a RSA key pair and encrypt the API Key, and store the encrypted version of the key in either the `sessionStorage` or `localStorage` as preferred for persistence.  This can be still be abused, as once the client is accessible anything is possible. Finally, even the browser itself has history of HTTP headers sent and received, which can also be leaked.  

One can also run a server which will do session management and store an encrypted form of the API keys on the server, while the client can keep a secret used to encrypt in `indexedDB` or in `localStorage` If the server does man-in-the-middle to reach cve-services, then the server will continue to be able to decrypt keys and make connections on behalf of the client. This has its own issue(s) as well, as this new server needs to be trusted now or certified.  If the server does not do man-in-the-middle we are still back to the similar problems of both in-memory and in-history information that will reveal the API Key.

Vijay





Many possible solutions have drawbacks, but I think CSRF isn't often one of them. For a CSRF attack against a service on the public Internet, the attacker is usually relying on the web browser's automatic appending of a Cookie header or Authorization header with a valid value that isn't known to the attacker (e.g., see https://fetch.spec.whatwg.org 4.6.8.20). A web browser shouldn't be appending a CVE-API-KEY header automatically. So, CSRF would be unsuccessful unless the attacker is chaining another vulnerability that provides the attacker with access to the CVE-API-KEY header value.

There are various downsides to placing credentials in a nonstandard header such as CVE-API-KEY (e.g., see the bottom of section 5.1.2 of RFC 7235 for one of them), but CVE-API-KEY should be effective in blocking the "pure CSRF" attack methodology.

The service worker was planned as that intermediate server that takes the API key and manages the session. 
For most CVE workflows that involve getting an ID or posting a record, one may not even encounter this reset issue.
Implementing some callbacks to logout on all open browser tabs when the session is reset/timed out is needed, and will prevent a surprise when user tries to perform an action.

Matt - 

Sorry for not being clear, the CSRF attack is specifically if cve-services (or another 3rd-party application) were to provide "session management" and the assumption is that the session is Cookie based.


In the current implementation (trying to retain state within the "storage" data structure in cve5sw.js), the most popular web browser (Chrome version 101) consistently loses my authentication in less than a minute. For a common use case of:
* Login
* Press the "Reserve One CVE" button
* Publish the CNA's advisory containing that CVE ID
* Click on the CVE ID in the ID column of the CVE Portal table
* Enter the vulnerability details in the Editor
* Read through the details to make sure they are correct
* Press the "Post to CVE.org" button

I feel that the typical CNA would want to remain logged in for at least several minutes. A completely new user may take more than a minute in between when they login, and when they realize that they want to press the "Reserve One CVE" button.

A perhaps larger issue is that web browsers change from time to time. Relying on this type of state within a service worker (that isn't currently working on anything) is unsupported. https://web.dev/learn/pwa/service-workers/ says "service workers will be terminated if they've been idle for a few seconds." So, for example, even if I have almost a minute today, the next version of Chrome might change it to three seconds or less. There's no guarantee that it's even going to be possible to press the "Reserve One CVE" button fast enough. In other words, because of the reliance on unsupported behavior, any update to a web browser has the risk of making the entire Vulnogram service unusable until the design and implementation are changed,

Looks like the approach Vijay described: 1) using crypto api to generate a key pair, 2) mark the private key as not exportable and 3) have indexDB as a store (by the service worker) is the current state of the art. The the crypto API would use the non-exportable private key for decrypting the CVE API key and can't be accessed by scripts directly. Service worker acts as a proxy to synchronize a consistent experience across tabs/windows while adding a security layer around the key while in use.

Hi @ElectricNroff @chandanbn 

I now have a working version of Vulnogram that creates encryption keys stores it in IndexedDB and uses CacheStorage for credentials all being done behind the scenes by the ServiceWorker.   You can use the demo version at https://democert.org/vulnogram/ to see if you have better luck in persisting the session.  

You can take a look into the https://github.com/sei-vsarvepalli/Vulnogram/tree/cve-session-persist for the code updates. I will put a PR in a couple of days with a little more debug capability added.

Thanks
Vijay 





Hello Chandan,

All the updates work fine when I have an installed version.  Somehow your published GitHUB version still keeps loosing sessions every few seconds.  May be exceptions in browsers like Chrome and Firefox are killing the service worker and loosing its marbles?

Anyway the test version I have created from your 0.1.0 latest GitHub commit is available at https://democert.org/vulnogram/  It works normal and does not loose session like GitHub hosted version..

https://vulnogram.github.io/

Thanks
Vijay